html, body {
    overflow-x: hidden;
}

body {
    background-color: #F3F5FC;
}

.wrapper {
    display: flex;
    flex-flow: column;
    min-height: 99vh;
}

header {
    display: flex;
    padding-top: 3px;
}

.main-app {
    display: none;
    flex-flow: column;
    flex-grow: 8;
    gap: 0.1rem;
    justify-content: top;
    align-items: center;
}

.palabra-nueva {
    display: none;
}

.horca {
    display: none;
    max-width: 600px;
    height: 350px;
    padding-bottom: 2vh;
}

.letras-correctas {
    display: none;
    height: 3rem;
}

.rayitas {
    display: none;
    max-height: 5px;
}

.errores {
    padding-top: 2vh;
    font-family: "Inter";
    font-weight: bolder;
    font-size: 1.2rem;
    letter-spacing: 0.6vw;
}

.botones {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 0.7vh;
}

button {
    font-family: 'Inter';
}

.boton1 {
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 1.3rem;
    min-height: 6rem;
    min-width: 14rem;
    max-width: 20rem;
}

.boton2 {
    border-radius: 24px;
    background-color: #F3F5FC;
    color: #0A3871;
    font-size: 1rem;
    min-height: 2.6rem;
    min-width: 12rem;
    max-width: 15rem;
}

footer {
    display: flex;
    justify-content: center;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}